body {
  background: #004E7A;

}
p{
  position: absolute;
width: 529px;
height: 200px;
left: 430px;
top: 148px;

font-family: 'Inter';
font-style: italic;
font-weight: 300;
font-size: 40px;
line-height: 48px;

color: #860808;
}
img{
  position: absolute;
width: 317px;
height: 274px;
left: -6px;
top: 0px;

background: url(imagem1.jpg);
}
{
background-color: position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;


border-radius: 10px;
